#Fri Jun 17 13:18:19 CEST 2016
urlFormat={0}{1}{2,number,00000}{3}{4}
webPagePrefix=msql
webSources=http\://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.messages.sql.doc/com.ibm.db2.luw.messages.sql.doc-gentopic{}.html?view\=embed
recognitionPattern=<span class\="ulchildlinktext"><a [^>]*>SQL([0-9]+[A-Z])</a
webPageBaseUrl=http\://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.messages.sql.doc/doc/
webPagePostfix=.html?view\=embed
