#ck_container_cookie {
	background-color: #000000aa;
}

#ck_container_cookie + div {
	filter: blur(5px);
}

.product-producer {
	color: #666;
	margin-right: 0.5em;
}

.product-title {
	font-weight: bold;
	margin-right: 0.5em;
}

.product-version {
	font-style: italic;
}
