#ck_container_cookie {
  background-color: #000000aa;
}

#ck_container_cookie+div {
  filter: blur(5px);
}

.ec-product-vendor {
  margin-right: 0.5em;
}

.ec-product-title {
  font-weight: bold;
  margin-right: 0.5em;
}

.ec-product-version {
  font-style: italic;
}

.ec-full-height {
  height: 100%;
  min-height: 100%;
}

iframe.ec-borderless {
  border: none;
}

.ec-full-body {
  height: 100%;
  padding-top: 4.5em !important;
  padding-bottom: 4.5em !important;
}

.ec-full-size {
  width: 100%;
  height: 100%;
}

.ec-full-height {
  height: 100%;
}

.ec-full-overflow {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  height: 100%;
}

.ec-code-search {
  border-top: none;
  border-left: none;
  border-right: none;
}

.ec-code-list {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 2.45em;
  bottom: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ec-location-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ec-summary {
  margin-left: 1em;
  font-size: 0.75em;
}

.ec-overflow-link {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}